body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./NetflixGradient.jpg');
    background-size: cover;
}
.navbar {
    color: white;
    display: flex;
    list-style-type: none;
    padding: 15px;
    gap: 20px;
    justify-content: right;
    font-size: 20px;
}
.logo {
    width: 150px;
    height: 75px;
    margin-right: auto;
    margin-left: 400px;
}
select {
    background-color: black;
    color: white;
    border: 1px solid white;
    padding: 5px 20px;
    font-size: 16px;
    margin-top: 20px;
    margin-right: 0px;
}
.sign-in {
    background-color: #e50914;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px 13px;
    margin-top: 17px;
    margin-right: 400px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}
.text-center {
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
    font-size: 40px;
    text-align: center;
}
.topline {
    color: white;
    margin-top: 300px;
}
.bottomline {
    color: white;
    margin-top: -50px;
}
h2 {
    color: white;
    text-align: center;
    margin-top: -30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}
h3 {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}
.email {
    background-color: black;
    color: white;
    border: none;
    padding: 20px;
    width: 550px;
    font-size: 16px;
}
.get-started {
    background-color: #e50914;
    color: white;
    border: none;
    border-radius: 3px;
    width: 170px;
    padding: 17px;
    font-size: 20px;
    font-style: bold;
    cursor: pointer;
}
.content {
    margin-top: 0px;
}
.emailget-started {
    text-align: center;
}