body {
    background: url('./valentinesbackground.jpg');
    background-size: cover;
    color: whitesmoke;
    text-align: center;
    font-size: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
}
fieldset {
    border: none;
    padding: 30px;
    padding-bottom: 70px;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.24);
}
button {
    font-size: 20px;
    padding: 12px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: black;
    cursor: pointer;
}
input {
    font-size: 20px;
    padding: 10px;
    border: 2px solid white;
    border-radius: 5px;
}